Implementation of VAR (Vector Auto-Regression)

In [15]:
import numpy as np
import pandas as pd
import networkx as nx
from itertools import permutations, combinations
from statsmodels.tsa.stattools import grangercausalitytests
from statsmodels.regression.linear_model import OLS

from sklearn.metrics import precision_recall_fscore_support
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import recall_score

import graphviz
from collections import defaultdict
from scipy.stats import f_oneway

import matplotlib.pyplot as plt
%matplotlib inline 
plt.rcParams["figure.figsize"] = [30,10]

In [16]:
from statsmodels.tsa.api import VAR
import statsmodels.api as sm

In [17]:
mdata = sm.datasets.macrodata.load_pandas().data

In [18]:
mdata

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.980,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.150,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.350,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.370,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.540,139.6,3.50,5.2,180.007,2.31,1.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,2008.0,3.0,13324.600,9267.7,1990.693,991.551,9838.3,216.889,1474.7,1.17,6.0,305.270,-3.16,4.33
199,2008.0,4.0,13141.920,9195.3,1857.661,1007.273,9920.4,212.174,1576.5,0.12,6.9,305.952,-8.79,8.91
200,2009.0,1.0,12925.410,9209.2,1558.494,996.287,9926.4,212.671,1592.8,0.22,8.1,306.547,0.94,-0.71
201,2009.0,2.0,12901.504,9189.0,1456.678,1023.528,10077.5,214.469,1653.6,0.18,9.2,307.226,3.37,-3.19
202,2009.0,3.0,12990.341,9256.0,1486.398,1044.088,10040.6,216.385,1673.9,0.12,9.6,308.013,3.56,-3.44

In [19]:
dates = mdata[['year', 'quarter']].astype(int).astype(str)

quarterly = dates["year"] + "Q" + dates["quarter"]

from statsmodels.tsa.base.datetools import dates_from_str

quarterly = dates_from_str(quarterly)

mdata = mdata[['realgdp','realcons','realinv']]

mdata.index = pd.DatetimeIndex(quarterly)

In [23]:
mdata

              realgdp  realcons   realinv
1959-03-31   2710.349    1707.4   286.898
1959-06-30   2778.801    1733.7   310.859
1959-09-30   2775.488    1751.8   289.226
1959-12-31   2785.204    1753.7   299.356
1960-03-31   2847.699    1770.5   331.722
...               ...       ...       ...
2008-09-30  13324.600    9267.7  1990.693
2008-12-31  13141.920    9195.3  1857.661
2009-03-31  12925.410    9209.2  1558.494
2009-06-30  12901.504    9189.0  1456.678
2009-09-30  12990.341    9256.0  1486.398

[203 rows x 3 columns]

In [24]:
mdata.diff().dropna()

            realgdp  realcons  realinv
1959-06-30   68.452      26.3   23.961
1959-09-30   -3.313      18.1  -21.633
1959-12-31    9.716       1.9   10.130
1960-03-31   62.495      16.8   32.366
1960-06-30  -13.309      22.4  -33.570
...             ...       ...      ...
2008-09-30  -90.666     -83.3  -35.825
2008-12-31 -182.680     -72.4 -133.032
2009-03-31 -216.510      13.9 -299.167
2009-06-30  -23.906     -20.2 -101.816
2009-09-30   88.837      67.0   29.720

[202 rows x 3 columns]

In [26]:
data = np.log(mdata).diff().dropna()

In [30]:
model = VAR(data).fit(2)

/Users/barch001/anaconda3/envs/pynew/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:162: ValueWarning: No frequency information was provided, so inferred frequency Q-DEC will be used.
  % freq, ValueWarning)

In [31]:
model.summary()

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Wed, 12, Aug, 2020
Time:                     19:00:49
--------------------------------------------------------------------
No. of Equations:         3.00000    BIC:                   -27.5830
Nobs:                     200.000    HQIC:                  -27.7892
Log likelihood:           1962.57    FPE:                7.42129e-13
AIC:                     -27.9293    Det(Omega_mle):     6.69358e-13
--------------------------------------------------------------------
Results for equation realgdp
==============================================================================
                 coefficient       std. error           t-stat            prob
------------------------------------------------------------------------------
const               0.001527         0.001119            1.365           0.172
L1.realgdp         -0.279435         0.169663           -1.647           0.100
L1.realcons         0.675016         0.131285            5.142           0.000
L1.realinv          0.033219         0.026194            1.268           0.205
L2.realgdp          0.008221         0.173522            0.047           0.962
L2.realcons         0.290458         0.145904            1.991           0.047
L2.realinv         -0.007321         0.025786           -0.284           0.776
==============================================================================

Results for equation realcons
==============================================================================
                 coefficient       std. error           t-stat            prob
------------------------------------------------------------------------------
const               0.005460         0.000969            5.634           0.000
L1.realgdp         -0.100468         0.146924           -0.684           0.494
L1.realcons         0.268640         0.113690            2.363           0.018
L1.realinv          0.025739         0.022683            1.135           0.257
L2.realgdp         -0.123174         0.150267           -0.820           0.412
L2.realcons         0.232499         0.126350            1.840           0.066
L2.realinv          0.023504         0.022330            1.053           0.293
==============================================================================

Results for equation realinv
==============================================================================
                 coefficient       std. error           t-stat            prob
------------------------------------------------------------------------------
const              -0.023903         0.005863           -4.077           0.000
L1.realgdp         -1.970974         0.888892           -2.217           0.027
L1.realcons         4.414162         0.687825            6.418           0.000
L1.realinv          0.225479         0.137234            1.643           0.100
L2.realgdp          0.380786         0.909114            0.419           0.675
L2.realcons         0.800281         0.764416            1.047           0.295
L2.realinv         -0.124079         0.135098           -0.918           0.358
==============================================================================

Correlation matrix of residuals
             realgdp  realcons   realinv
realgdp     1.000000  0.603316  0.750722
realcons    0.603316  1.000000  0.131951
realinv     0.750722  0.131951  1.000000